body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(img/clipboard-with-ribbons-candles_23-2147628613.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.form_heading{
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
}
.form_heading h4{
    margin-top: -8px;
}
#form_id{
    width: 300px;
    padding: 10px 20px ;
    margin: 20px 0px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(76, 180, 212);
    box-shadow: 20px 20px 15px rgba(0,0,0,0.2);
}
.form_font{
    font-size: 18px;
    font-weight: bold;
}
.input_form{
    width: 300px;
    height: 25px;
    margin: 5px 0;
    border-radius: 5px;
}
.btn{
    font-size: 14px;
    padding: 10px;
    background-color: #E1D9C2;
    font-weight: bold;
    margin-left: 68px;
    margin-bottom: 10px;
}
.btn:hover {
    background-color: rgb(9, 220, 30);
    cursor: pointer;
}